.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ded9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li:hover {
  background-color: #928c8c;
  /* Change background color when hovered */
  transition: background-color 0.3s ease-in-out;
  /* Add transition effect */
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 999;




}

.dropdown:hover .dropdown-menu {
  display: block;
  margin: 5px;
  padding: 30px;


  width: 120px;

}

.dropdown-menu li {
  display: block;
  background-color: black;


}

.dropdown-menu li a {
  color: #fdf8f8;
  text-decoration: none;

}

.dropdown-menu li:hover {
  background-color: #f68181;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
  justify-content: center;


}

/* BAnner*/
.banner {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.banner img {
  display: block;
  width: 100%;
  height: auto;
}

.center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.center a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
}

.content-holder {
  background-color: #e1dcdc;
  height: 500px;
}

.content {
  width: 70%;
  height: auto;
  padding: 25px;
  background-color: rgb(206, 206, 177);
}

.content h1 {
  font-size: 25px;
}

.content p {}




/* Footer */
footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}
