header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ded9d9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.logo a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  color: red;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}
nav ul li:hover {
  background-color: #928c8c; /* Change background color when hovered */
  transition: background-color 0.3s ease-in-out; /* Add transition effect */
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f68181;
  transition: background-color 0.3s ease-in-out;
}
